<%- include('partials/header') %>

    <div class="container">
        <br><br><br><br><br><br>
        <div>
            <h1 style="background-color: blanchedalmond"> Sorry, We cannot cancel your reservation at this point in time. </h1><br>
            <h4>Reasons could be:</h4>
            <br>
            <h5>- As it is less than 48 hours for your reservation to begin.</h5>
            <h5>- The Property might be already bookec for your selected dates.</h3>
        </div>
        <br><br>
        <a href="/users/properties" class="btn btn-outline-dark active">Back to Home</a>
    </div>

    <%- include('partials/footer') %>