<%- include('partials/header') %>

    <div class="container">
        <br><br><br><br><br><br>
        <div>
            <h1 style="background-color: blanchedalmond"> Sorry, We cannot cancel your reservation as it is less than 48
                hours for your reservation to begin!! </h1>
        </div>
        <br><br>
        <a href="/users/properties" class="btn btn-outline-dark active">Back to Home</a>
    </div>

    <%- include('partials/footer') %>