<%- include('partials/header') %>
    <div class="row">
        <h3 align="center" style="background-color: blanchedalmond">Add New Property Page</h3>
    </div>
    <br>
    <div class="container">
        <form action="/properties" method="POST">
            <div class="form-group col-md-4">
                <label>Name</label>
                <input type="text" id="name" name="name" class="form-control" required
                    placeholder="Please enter property name...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>City Name</label>
                <input type="text" id="city_name" name="city_name" class="form-control" required
                    placeholder="Please enter city name...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Host Name</label>
                <input type="text" id="host" name="host" class="form-control" required
                    placeholder="please enter your name...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Host ID</label>
                <input type="text" id="host_id" name="host_id" class="form-control" required
                    placeholder="please enter your ID...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Amenities</label>
                <input type="text" id="amenities" name="amenities" class="form-control" required
                    placeholder="please enter the amenities seperated by ,">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Ratings</label>
                <input type="number" id="ratings" name="ratings" min="0" max="5" class="form-control" required
                    placeholder="please enter the known rating for the property...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Night Fee</label>
                <input type="number" id="night_fee" name="night_fee" min="0" step="100" class="form-control" required
                    placeholder="please enter the fee per night...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Cleaning Fee</label>
                <input type="number" id="cleaning_fee" name="cleaning_fee" class="form-control" required min="0"
                    step="10" placeholder="please enter the cleaning fee per stay...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Service Fee</label>
                <input type="number" id="service_fee" name="service_fee" class="form-control" min="0" step="10" required
                    placeholder="please enter the service fee per stay...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Bedrooms</label>
                <input type="number" id="bedrooms" name="bedrooms" min="1" class="form-control" required
                    placeholder="please enter the no of bedrooms...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Image Name</label>
                <input type="text" id="image" name="image" class="form-control" required
                    placeholder="please enter the image path...">
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Short Description</label>
                <textarea id="short_description" name="short_description" class="form-control" required
                    placeholder="please enter the property short description..."></textarea>
            </div>
            <br>
            <div class="form-group col-md-4">
                <label>Description</label>
                <textarea id="description" name="description" class="form-control" required
                    placeholder="please enter the property description..."></textarea>
            </div>
            <br>
            <div class="form-group col-md-4">
                <button type="submit" id="add" class="btn btn-outline-dark active">Add Property</button>
                <button type="button" id="back" class="btn btn-outline-dark active"><a href="/properties" style="text-decoration: none; color: white">Back to list</a></button>
            </div>
            </div>
        </form>
    </div>
    <%- include('partials/footer') %>