<%- include('partials/header') %>

    <div class="container">
        <form action="/properties/favorite/<%=pr._id%>" method="POST">
            <div class="form-group col-md-2">
                <label>Ratings</label>
                <div class="slidecontainer">
                    <input type="range" min="1" max="5" value="0" class="slider" name="rating" >
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>Property ID</label>
                <input type="text" id="user_id" name="user_id" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label>User ID</label>
                <input type="text" id="user_id" name="user_id" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" id="add" class="btn btn-outline-dark">Add to favorites</button>
            </div>
        </form>
    </div>

    <%- include('partials/footer') %>